.popular {
    margin-block-end: var(--mb-3);
    min-height: 600px;
}

.popular__title {
    text-align: center;
    font-size: var(--h2-font-size);
    font-weight: 600;
    margin-block-end: var(--mb-1);
}

.Popular__filter {
    display: flex;
    gap: 2rem;
    background-color: var(--red-back-color);
    padding: .5rem 0;
    justify-content: center;
    color: var(--container-color);
    border-radius: 7px;
    margin-block-end: var(--mb-2);
    flex-wrap: wrap;
}

.Popular__filter li {
    display: flex;
    align-items: center;
    gap: .2rem;
    font-size: 1.1rem;
    padding: .5rem;
    border-radius: 7px;
    transition: .4s;
    cursor: pointer;
}

.active__type,
.Popular__filter li:hover {
    background-color: var(--body-color);
    color: var(--red-back-color);
}

.popular__food {
    gap: 1rem;
    justify-content: center;
}

.popular__box {
    width: 250px !important;
    border: 1px solid #ddd;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 10px;
}

.popular__box img {
    width: 110px;
}

.popular__food-name {
    font-size: var(--smaller-font-size);
    margin-block-end: var(--mb-2);
}

.food__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.food__buy span {
    font-weight: 600;
    color: var(--red-back-color);
}

.button-addToCart {
    font-size: .7rem !important;
}

@media (max-width:560px) {
    .Popular__filter {
        gap: .5rem;
    }

    .Popular__filter li {
        font-size: 1rem;
    }
}