.category {
    margin-block-end: 6rem;
}

.category__box {
    background-color: var(--pink-back-color);
    border-radius: 7px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: "RocknRoll One", sans-serif !important;
    max-width: 310px !important;
    min-width: 250px;
    transition: 0.4s;
    cursor: pointer;
}
.category__box:hover{
    transform: translateY(-.5rem);
}
.category__container {
    justify-content: center;
    gap: 1rem;
}

.ourServices {
    margin-block-end: var(--mb-3);
    text-align: center;
}

.service__title {
    color: var(--red-back-color);
    font-family: "RocknRoll One", sans-serif !important;
    margin-block-end: var(--mb-1);
    display: block;
}

.service__slogan {
    font-weight: 600;
    margin-block-end: var(--mb-1);
}

.service__slogan span {
    color: var(--red-back-color);
}

.service__feature{
    margin: var(--mb-3) 0;

}
.service__content{
    justify-content: center;
    gap: 1.5rem;
}
.service__box{
    max-width: 350px !important;
}
.service__img{
    width: 80px;
    margin-block-end: var(--mb-1);
}
.service__name{
    font-size: var(--small-font-size);
    font-weight: 600;
}

@media (max-width:560px){
    .landing__img{
        width: 250px;
    }
  }
.service__slogan + p br{
    display: none;
}